{% extends "blogs/layout.html" %}
{% load humanize %}
{% load markdown %}
{% block title %}{{ blog.title }} by {{ blog.user }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="mt-4">{{ blog.title }}</h1>
                <h6 class="text-muted float-right"><em>{{ blog.created_at | naturaltime }}</em></h6>
                <blockquote>by <strong><em>@{{ blog.user }}</em></strong>
                    {% if blog.user.first_name|default_if_none:"" != "" or blog.user.last_name|default_if_none:"" != "" %}
                        ({{ blog.user.first_name}} {{ blog.user.last_name }})
                    {% endif %}
                </blockquote>
                <div class="card mt-4">
                    <div class="card-body">
                        {{ blog.content|markdown|safe }}
                    </div>
                </div>
                <hr>
                <h5 class="my-4">Comments</h5>
                <div class="mb-4" id="comments">
                    {% for comment in blog.comment_set.all %}
                    <div class="card col-md-8 col-xl-6 mt-2 bg-light {{ comment.border_tag }}">
                        <div class="card-body" >
                            <div class="float-right text-muted small"><em>{{ comment.created_at | naturaltime }}</em></div>
                            <h6 class="card-title text-muted"><b>@{{comment.user}}</b> <span class="text-muted">
                                {% if comment.user.first_name|default_if_none:"" != "" or comment.user.last_name|default_if_none:"" != "" %}
                                    ({{ comment.user.first_name}} {{ comment.user.last_name }})
                                {% endif %}</span>
                                {% if comment.user.id == blog.user.id %}
                                    <span class="badge badge-success">OP</span>
                                {% endif %}
                            </h6>
                            <hr>
                            <div>{{comment}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
